@model Application.DTOs.ProductDisplayModel
@{
    ViewData["Title"] = "AddProduct";
}

@using (Html.BeginForm("AddProduct", "Crud"))
{
    @Html.ValidationSummary()
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nazwa produktu" @Html.TextBoxFor(x => x.Product.ProductName)>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Descripion</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Opis" @Html.TextBoxFor(x => x.Product.Description)>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Price</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cena" @Html.TextBoxFor(x => x.Product.ProductPrice)>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Image</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Zdjęcie" @Html.TextBoxFor(x => x.Product.Image)>
        </div>

   <select class="form-select" id="Type.Id" name="Product.TypeId">
    <option selected>Wybierz Typ</option>
        @foreach (var typ in Model.Type)
        { 
                      <option value="@typ.Id">
                        <div class="d-flex">
                        <div class="p-2 w-100">@typ.TypeName</div>
                        <div class="p-2 flex-shrink-1">
                        </div>
                      </div>
                      </option>       

        }
 @*       <option selected="@(typ.Id ==Model.TypeId)" value="@typ.Id">@typ.TypeName</option>*@
   </select>

    <button type="submit">Dodaj produkt</button>
}


