@model IEnumerable<Domain.Models.CartDetail>
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%; margin:auto">
    <h3> My Cart</h3>
    @if (Model != null)
    {
        <table class="table table-bordered">
            <tr>
                <th>Product</th>
                <th>zdjęcie produktu</th>
                <th>Ilość produktów</th>
                <th>Cena produktu</th>
                <th>Nazwa materiału</th>
                <th>Cena materiału za m2</th>
                <th>Cena po przeliczeniu</th>
                <th></th>
                <th></th>
                <th><label for="AddItem" style="margin-left: 65px">Ilość</label></th>
            </tr>
   
           @foreach(var item in Model)
           {
            <tr>
               <td>@item.SizeProducts.Product.ProductName</td>
                 <td> 
                    @if(!string.IsNullOrEmpty(item.SizeProducts.Product.Image))
                    {
                            <img src="~/Image/NoImage.png" style="widht: auto; height:auto"/>
                    }
                    else
                    {
                       <img src="~/Image/@item.SizeProducts.Product.Image" style="widht: auto; height:auto"/>

                    }
               </td>
              <td>@item.Quantity</td> 
              <td>@item.SizeProducts.Product.ProductPrice</td>
              
              <td>@item.Materials.Name</td>
              <td>@item.Materials.Price</td>
                    <td><option value="@item.UnitPrice">@item.UnitPrice</option></td> @* Cena po przeliczeniu z 1m materiału robimy 15 kołnierzy*@
                    <td><a class="btn btn-info" href="/Cart/AddItem?productId=@item.SizeProducts.ProductId&&materialId=@item.MaterialId&&sizeId=@item.SizeProducts.SizeId&&redirect=1">+</a></td>
                    <td><a class="btn btn-info" href="/Cart/RemoveItem?productId=@item.SizeProducts.ProductId&&materialId=@item.MaterialId&&sizeId=@item.SizeProducts.SizeId&&redirect=1">-</a></td>
           
                    @* Dodawanie liczby kołenierzy do zamówienia *@
                    <form action="@Url.Action("AddItem", "Cart")" method="post">
                        <input type="hidden" name="productId" value="@item.SizeProducts.ProductId" />
                        <input type="hidden" name="materialId" value="@item.MaterialId" />
                        <input type="hidden" name="sizeId" value="@item.SizeProducts.SizeId" />
                        <input type="hidden" name="redirect" value="1" />

                    <td>
                        <input type="number" name="Quantity" value="0" />
                    </td>
                    <td>
                        <button class="btn btn-info" type="submit">Dodaj ilość</button>
                    </td>
                    </form>
                </tr>
           }
        </table>
        <div class="my-2">
        </div>

        <div class="my-2">

            <form action="@Url.Action("Checkout", "Cart")">
                <button class="btn btn-info" type="submit">Przejdz dalej</button>
            </form>    
        </div>
    }
    else
    {
        <h5> Cart is empty</h5>
    }

</div>


