@model IEnumerable<Domain.Models.Material>;
@{
    ViewData["Title"] = "AddProduct";

}
@foreach (var material in Model)
{
    <li>    
        <span>@material.Name;</span> 
        <span>@material.Price;</span> 
        <span>@material.Colour;</span> 
        <span>@material.Description;</span>
           
        <button class="btn btn-danger" type="button">
                <a href="@Url.Action("Delete", "Crud",new{materialId = material.MaterialId})">Usuń</a>
        </button>
        
    </li>
}  

